@import 'core/reset';
@import 'core/variables';
@import 'core/Mixins';

.background {
  min-height: 100vh;
  // background-image: url(../images/Particles.gif);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background: rgb(0, 35, 115);
  // background: radial-gradient(
  //   circle,
  //   rgba(0, 35, 115, 1) 54%,
  //   rgba(0, 20, 65, 1) 100%,
  //   rgba(0, 20, 65, 1) 100%
  // );
}
.backgroundProfile {
  background-image: url(../images/profile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100%;

  // height: 85vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // gap: 20px;
  // @media (min-width: 768px) {
  //   flex-direction: row;
  // }
}
