@import '../core/Mixins.scss';
@import '../core/variables';

.contact {
  font-family: $playfair;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 50px auto;
  width: 300px;
  font-size: 1.4rem;
  z-index: 2;
  background-color: #021b56;
  padding: 50px 30px;
  border-radius: 20px;
  border: 1px solid white;
  @media (min-width: 768px) {
    width: 50%;
    font-size: 1.6rem;
  }
  p {
    margin-bottom: 30px;
    text-align: center;
  }

  input,
  textarea {
    margin-top: 8px;
    margin-bottom: 15px;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8bb;
    transition: 0.3s;
    &:focus {
      outline-color: #e8e8e8;
      background: #e8e8e8;
      transition: 0.3s;
    }
  }
  &__btn {
    @include btn();
  }
}
