@import '../core/variables';

.footer {
  background-color: #001441;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 15vh;
  color: white;
  font-family: $playfair;
  padding: 20px;
  // position: fixed;
  // bottom: 0;
  // width: 100vw;

  &__hogwarts {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      width: 300px;
    }
  }

  &__logo {
    width: 60px;
  }
  &__muggles {
    font-size: 1.6rem;
    padding: 20px;
    text-align: center;
  }
  &__contact {
    font-size: 1.2rem;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    color: white;
    font-size: 1.2rem;
    list-style: none;
    padding-left: 0;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 25px;
    }
    &--icon {
      margin: 5px 2px;
      color: white;
      font-size: 1.4rem;
      &:hover {
        animation: pulse 1.5s infinite;
      }

      @keyframes pulse {
        0% {
          transform: scale(1);
        }

        100% {
          transform: scale(1.4);
        }
      }
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.footerGryffindor {
  background-color: rgba(150, 34, 54, 1);
  color: #ffae00;
  i {
    color: #ffae00;
  }
  a {
    color: #ffae00;
  }
}
.footerHufflepuff {
  background-color: black;
  color: rgba(199, 168, 0, 1);
  i {
    color: rgba(199, 168, 0, 1);
  }
  a {
    color: rgba(199, 168, 0, 1);
  }
}
.footerSlytherin {
  background-color: rgba(10, 54, 55, 1);
}
.footerRavenclaw {
  background-color: rgba(18, 53, 96, 1);
}
