@import '../core/variables';

.formPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $playfair;
  z-index: 1;
  @media (min-width: 768px) {
    height: 52vh;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 50px;

    @media (min-width: 768px) {
      padding: 50px;
    }
    &--question {
      background-color: rgb(119, 13, 13);
      border-image-source: url(../../images/marco.png);
      border-image-slice: 50;
      border-style: solid;
      border-width: 20px;
      font-size: 1.8rem;
      margin: 10px 0;
      padding: 5px;
      color: rgb(226, 225, 225);
      text-align: center;
      @media (min-width: 768px) {
        font-size: 2rem;
      }
    }
    &--answer {
      background: linear-gradient(
        90deg,
        rgba(217, 161, 51, 1) 0%,
        rgba(209, 187, 120, 1) 50%,
        rgba(217, 161, 51, 1) 100%
      );
      padding: 20px;
      border-radius: 5px;
      font-size: 1.4rem;
      margin: 5px;
      cursor: pointer;
      @media (min-width: 768px) {
        font-size: 1.6rem;
      }
      input[type='radio'] {
        display: none;
      }

      &:hover {
        color: rgb(226, 225, 225);
      }
    }
  }
}

// Si utilizo input[type='radio']:checked +label {background-color: red}  Lo que hace es cambiar el color de la etiqueta cuando esta esté seleccionada
