@import '../core/variables';
@import '../core/Mixins.scss';

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  &__nav {
    background-color: #001441;
    color: white;
    font-family: $playfair;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--url {
      text-decoration: none;
      color: white;
    }
    &--login {
      height: 50px;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 15px;
      margin-right: 15px;
      margin-bottom: 0;
      @media (min-width: 768px) {
        height: 50px;
      }
    }
    &--main {
      list-style: none;
      position: absolute;
      background-color: #001441;
      top: 48px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 40px 20px;
      justify-content: center;
      width: 60%;
      z-index: 3;
      box-shadow: 23px 21px 30px 6px rgba(153, 153, 153, 0.13);
      animation: slide-in-left 0.5s 0.2s both;
      @keyframes slide-in-left {
        0% {
          -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
      }
      li {
        margin-left: 10px;
        &:hover {
          font-size: 1.6rem;
          transition: font-size 0.1s ease-in 0s;
        }
      }
    }
  }
  &__houses {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 5px;
    @media (min-width: 768px) {
      padding: 0 15px;
    }
    @media (min-width: 1024px) {
      padding: 0 50px;
    }
    &--flag {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 5px;
      margin: 0 15px;
      @media (min-width: 768px) {
        gap: 15px;
      }
      img {
        width: 50%;
        @media (min-width: 768px) {
          width: 40%;
        }
      }
    }
    &--school {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 30px 0;
      gap: 10px;
      img {
        @media (min-width: 768px) {
          width: 250px;
        }
      }
    }
  }
}
.hamburger-react {
  @media (min-width: 768px) {
    display: none;
  }
}
.hidden {
  display: none;
  @media (min-width: 768px) {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

.loginBtn {
  @include navBtn(white, none, 1px solid, white, #001441);
  @media (max-width: 768px) {
    display: none;
  }
}
.signupBtn {
  @include navBtn(black, #ffae00, none, white, #ffae00);
}
