@import '../core/variables';
@import '../core/Mixins.scss';

.Slytherin {
  @include background();
  @include house(
    radial-gradient(circle, rgba(39, 111, 69, 1) 50%, rgba(27, 77, 48, 1) 100%),
    $DarkGreen,
    $silver,
    $darkSilver,
    $silver
  );
}

.Gryffindor {
  @include background();
  @include house(
    radial-gradient(circle, rgba(174, 0, 1, 1) 50%, rgba(116, 0, 1, 1) 100%),
    $barnRed,
    $saffron,
    $goldenrod,
    $orangeWeb
  );
}

.Ravenclaw {
  @include background();
  @include house(
    radial-gradient(circle, rgba(0, 100, 160, 1) 50%, rgba(0, 55, 111, 1) 100%),
    $YaleBlue,
    $frenchGray,
    $charcoal,
    $frenchGray
  );
}

.Hufflepuff {
  @include background();
  @include house(
    radial-gradient(
      circle,
      rgba(236, 185, 57, 1) 50%,
      rgba(190, 144, 28, 1) 100%
    ),
    $black,
    $saffron,
    $black,
    $xanthous
  );
}

.house {
  width: 90%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  max-width: 500px;
  @media (min-width: 768px) {
    width: 60%;
    margin: 0 auto 50px;
  }
  &__gif {
    padding: 10px;
    width: 90%;
  }
  &__text {
    padding: 0 20px 20px;
    font-family: $playfair;
    color: black;
    text-align: justify;
    font-size: 1.2rem;
    @media (min-width: 768px) {
      padding: 0 40px 40px;
      font-size: 1.6rem;
    }
    h4 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 15px;
      @media (min-width: 768px) {
        font-size: 2.2rem;
      }
    }
  }
}
// &__error {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   width: 300px;
//   height: 200px;
//   background-color: red;
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .register {
//   // background: linear-gradient(
//   //   90deg,
//   //   rgba(150, 34, 54, 1) 7%,
//   //   rgba(219, 54, 79, 1) 50%,
//   //   rgba(150, 34, 54, 1) 93%
//   // );
//   // color: #eca300;
//   text-align: center;
//   // border: 3px solid #eca300;
//   padding: 15px;
//   display: flex;
//   flex-direction: column;
//   border-radius: 5px;
//   font-family: $sofia;
//   margin-bottom: 50px;
//   @media (min-width: 768px) {
//     margin: 40px 40px 40px 0;
//   }
//   &__data {
//     display: flex;
//     flex-direction: column;
//     // border: 2px solid #eca300;
//     border-radius: 20px;
//     padding: 15px;
//     // background-color: rgba(187, 45, 69, 1);
//     height: auto;
//     text-align: start;
//     margin: 15px;

//     // color: #ffae00;
//     span {
//       color: white;
//     }

//     img {
//       width: 200px;
//       margin: 0 auto;
//       //   background-color: red;
//       padding: 15px;
//       @media (min-width: 768px) {
//         width: 280px;
//       }
//     }
//     p {
//       font-size: 1.4rem;
//     }
//   }

//   &__form {
//     font-size: 1.4rem;
//     display: flex;
//     flex-direction: column;
//     align-items: stretch;
//     gap: 8px;
//     text-align: start;

//     input {
//       border: none;
//       padding: 1rem;
//       border-radius: 1rem;
//       background: #e8e8e8bb;
//       box-shadow: 1px 1px 4px #c5c5c5, -1px -1px 4px #ffffff;
//       transition: 0.3s;
//       font-style: italic;
//       cursor: pointer;
//       &:focus {
//         outline-color: #e8e8e8;
//         background: #e8e8e8;
//         transition: 0.3s;
//       }
//     }
//     select {
//       border: none;
//       padding: 1rem;
//       border-radius: 1rem;
//       background: #e8e8e8bb;
//       box-shadow: 1px 1px 4px #c5c5c5, -1px -1px 4px #ffffff;
//       font-style: italic;
//       cursor: pointer;
//     }
//     button {
//       margin: 10px;
//       padding: 5px 15px;
//       border: unset;
//       border-radius: 15px;
//       color: #212121;
//       z-index: 1;
//       background: white;
//       position: relative;
//       font-size: 1.4rem;
//       -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
//       box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
//       transition: all 250ms;
//     }
//     &--gender {
//       display: flex;
//       gap: 15px;
//       input {
//         box-shadow: none;
//         cursor: pointer;
//       }
//     }
//     &--img {
//       margin: 10px auto;
//       width: 150px;
//       padding: 5px 15px;
//       border: unset;
//       border-radius: 15px;
//       color: #212121;
//       text-align: center;
//       // background: #eca300;
//       font-size: 1.4rem;
//       -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
//       box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
//       transition: all 250ms;
//       // &:hover {
//       //   border: 1px solid #eca300;
//       //   color: #eca300;
//       //   background-color: rgba(187, 45, 69, 1);
//       // }
//     }
//     &--msg {
//       text-align: center;
//       font-style: italic;
//     }
//   }
// }
