@import '../core/variables';
@import '../core/Mixins.scss';

.Slytherin {
  @include background();
  @include house(
    radial-gradient(circle, rgba(39, 111, 69, 1) 50%, rgba(27, 77, 48, 1) 100%),
    $DarkGreen,
    $silver,
    $darkSilver,
    $silver
  );
}

.Gryffindor {
  @include background();
  @include house(
    radial-gradient(circle, rgba(174, 0, 1, 1) 50%, rgba(116, 0, 1, 1) 100%),
    $barnRed,
    $saffron,
    $goldenrod,
    $orangeWeb
  );
}

.Ravenclaw {
  @include background();
  @include house(
    radial-gradient(circle, rgba(0, 100, 160, 1) 50%, rgba(0, 55, 111, 1) 100%),
    $YaleBlue,
    $frenchGray,
    $charcoal,
    $frenchGray
  );
}

.Hufflepuff {
  @include background();
  @include house(
    radial-gradient(
      circle,
      rgba(236, 185, 57, 1) 50%,
      rgba(190, 144, 28, 1) 100%
    ),
    $black,
    $saffron,
    $black,
    $xanthous
  );
}

.house {
  width: 90%;
  margin: 20px auto 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  max-width: 500px;
  @media (min-width: 768px) {
    width: 60%;
    margin: 0 auto 50px;
  }
  &__gif {
    padding: 10px;
    width: 90%;
  }
  &__text {
    padding: 0 20px 20px;
    font-family: $playfair;
    color: black;
    text-align: justify;
    font-size: 1.2rem;
    @media (min-width: 768px) {
      padding: 0 40px 40px;
      font-size: 1.6rem;
    }
    h4 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 15px;
      @media (min-width: 768px) {
        font-size: 2.2rem;
      }
    }
  }
}
