@import '../core/variables';

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  margin-bottom: 50px;
  @media (min-width: 768px) {
    justify-content: center;
    flex-direction: row;
    gap: 30px;
  }
  a {
    text-decoration: none;
  }
  &__random {
    width: 95%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 15px 10px;
    @media (min-width: 768px) {
      width: 50%;
    }
    &--quote {
      color: white;
      background-color: #001441;
      border-image-source: url('/src/images/marco.png');
      border-image-slice: 50;
      border-style: solid;
      border-width: 20px;
      padding: 10px;
      font-family: $playfair;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.2rem;
      margin: 0 30px;
    }
  }
  &__articles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  // &__login {
  //   height: 50vh;
  //   width: 100vw;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   // @media (min-width: 768px) {
  //   //   // width: 50vw;
  //   //   // height: 85vh;
  //   // }
  // }
  // &__register {
  //   // width: 100vw;
  //   height: 35vh;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   margin-bottom: 20px;
  //   @media (min-width: 768px) {
  //     margin-bottom: 0;
  //     width: 35vw;
  //     //   // height: 85vh;
  //   }
  // }
}
.entrance {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.61);
  font-family: $playfair;
  padding: 5px;
  border-radius: 5px;
  &__text {
    text-align: center;
    margin: 3px 0 0;
  }
  &__more {
    text-align: right;
    color: white;
    text-decoration: none;
    padding-right: 10px;
    &:hover {
      color: black;
      text-decoration: underline;
      transition: color 0.5s ease-in 0s underline 0.5s ease-in 0s;
    }
  }
}

.landingRegister {
  height: auto;
  width: 300px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 10px;
  border: 1px solid white;
  padding: 20px;
  color: #001441;
  background: transparent;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  @media (min-width: 768px) {
    width: 400px;
    height: 408px;
  }
  a {
    text-align: center;
  }
  &__title {
    text-align: center;
    font-size: 1.5rem;
    @media (min-width: 768px) {
      font-size: 2.4rem;
    }
  }
  &__letter {
    width: 100px;
    margin: 10px 0;
  }
  &__btn {
    // width: 80%;
    background: linear-gradient(
      180deg,
      rgba(52, 99, 204, 1) 0%,
      rgba(10, 38, 102, 1) 50%
    );
    letter-spacing: 1.5px;
    padding: 0.75rem;
    text-align: center;
    color: white;
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    transition: all 0.5s ease;
    @media (min-width: 768px) {
      margin-top: 10px;
      width: 60%;
      font-size: 1.4rem;
    }
    &:hover {
      letter-spacing: 3px;
      background: linear-gradient(
        180deg,
        rgba(255, 208, 117, 1) 0%,
        rgba(190, 141, 45, 1) 50%
      );
      color: white;
      box-shadow: rgba(190, 141, 45, 1) 0px 7px 29px 0px;
    }
    &:active {
      transform: translateY(10px);
      transition: 100ms;
    }
  }
}
