@import '../core/variables';

.profile {
  width: auto;
  height: auto;
  padding: 5px;
  font-family: $playfair;
  // height: 80vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // gap: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;

  @media (min-width: 768px) {
    height: auto;
  }
}

.mainProfile {
  grid-area: 1 / 1 / 2 / 4;
  height: auto;
  background-clip: padding-box;
  color: white;
  font-family: $playfair;
  align-items: center;
  // max-width: 450px;
  // margin: 0 10px 45px;
  background-color: white;
  @media (min-width: 768px) {
    max-width: none;
    // width: 60%;
    padding: 10px;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px 10px;

    &--option {
      position: relative;
      // width: 100px;
      height: 50px;
      background-color: #f2f2f2a5;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      font-size: 1.3rem;
      @media (min-width: 768px) {
        width: 100px;
        height: 60px;
        font-size: 1.6rem;
      }
      img {
        width: 45px;
        // margin: 20px 15px;
        @media (min-width: 768px) {
          width: 60px;
        }
      }
      div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        color: black;
        transform: rotateX(-90deg);
        transform-origin: bottom;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      button {
        border: none;
      }
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.mainProfile__list--option:hover div {
  transform: rotateX(0deg);
}

.profilePage {
  grid-area: 2 / 1 / 3 / 2;
  background-color: blueviolet;
  @media (min-width: 768px) {
    display: flex;
    align-items: flex-start;
  }
  &__data {
    display: flex;
    flex-direction: column;
    border-image-source: url('/src/images/marcoDorado.png');
    border-image-slice: 50;
    border-style: solid;
    border-width: 20px;
    padding: 20px 0;
    background-clip: padding-box;
    background-color: #001441;
    color: white;
    margin-bottom: 20px;
    &--text {
      margin-left: 15px;
    }
  }
  &__quote {
    border-image-source: url('/src/images/marcoDorado.png');
    border-image-slice: 50;
    border-style: solid;
    border-width: 20px;
    padding: 10px 0;
    background-clip: padding-box;
    background-color: #001441;
    color: white;
    height: auto;
    margin: 15px;
    &--text {
      font-style: italic;
      padding: 15px;
    }
    &--autor {
      font-style: italic;
      text-align: end;
      padding-right: 15px;
      @media (min-width: 768px) {
        font-size: 1.4rem;
      }
    }
  }
}

.userSelection {
  grid-area: 2 / 2 / 3 / 4;
  background-color: red;
}
