@import '../core/variables';

.return {
  display: flex;
  gap: 5px;
  font-size: 1.2rem;
  align-items: baseline;
  text-decoration: none;
  color: black;
  background-color: #ffae00;
  padding: 3px 10px;
  border-radius: 50px;
  margin: 10px auto;
  @media (min-width: 768px) {
    font-size: 1.4rem;
    padding: 5px 15px;
    width: auto;

    margin-bottom: 50px;
  }
  &:hover {
    transition: color 0.5s ease 0s;
    color: white;
  }
}

.construction {
  color: white;
  font-family: $playfair;
  text-align: center;
  font-size: 1.8rem;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  img {
    width: 300px;
    @media (min-width: 768px) {
      width: 600px;
    }
  }
}
