@import '../core/variables';

.shortingHat {
  background-color: rgba(151, 12, 12, 0.836);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 10px;
  border-image: url('../../images/marco1.png');
  border-image-slice: 8%;
  border-image-outset: 5px;
  border-style: solid;
  border-width: 30px;
  background-clip: padding-box;
  color: rgba(255, 255, 255, 0.884);
  font-family: $sofia;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  // height: 45vh;
  @media (min-width: 768px) {
    width: 70%;
    margin: 50px auto;
    border-style: solid;
    border-width: 40px;
  }

  &__title {
    font-size: 2rem;
    @media (min-width: 768px) {
      margin: 20px;
      font-size: 3rem;
    }
  }
  &__text {
    margin: 10px 15px;
    font-size: 1.4rem;
    @media (min-width: 768px) {
      font-size: 2rem;
      padding: 0 15px;
    }
  }
  &__btn {
    text-decoration: none;
    position: relative;
    width: 100px;
    height: 60px;
    padding: 0;
    z-index: 2;
    margin-bottom: 20px;
    cursor: pointer;
    @media (min-width: 768px) {
      width: 200px;
      height: 120px;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 2s ease;
    }
    span {
      font-size: 1.4rem;
      letter-spacing: 3px;
      color: white;
      transition: all 1s ease;
      @media (min-width: 768px) {
        font-size: 2.4rem;
      }
    }
    &:hover span {
      color: transparent;
    }
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 100%;
      background-image: url(../../images/snitch.png);
      background-size: cover;
      background-position: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 1s ease;
    }
    &:hover:before {
      width: 100%;
    }
  }
}
