// fonts
$princessSofia: 'Princess Sofia', 'cursive';
$sofia: 'Sofia', 'cursive';
$harry: 'Harry Potter';
$playfair: 'Playfair Display', serif;

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;
$blueNight: #001441;
$black: #000000;
$orangeWeb: #ffae00;

//Hufflepuff
$xanthous: #ecb939;
$saffron: #f0c75e;
$umber: #726255;
$vanDyke: #372e29;

//Gryffindor
$barnRed: #740001;
$turkeyRed: #ae0001;
$goldenrod: #d3a625;

//Slytherin
$ashGray: #bed3c7;
$zomp: #679a7c;
$darkSpring: #276f45;
$calPolyGreen: #1b4d30;
$DarkGreen: #0f2c1b;
$silver: #c7c7c7;
$darkSilver: #b1b1b1;

//Ravenclaw

$YaleBlue: #00376f;
$celestialBlue: #0091d1;
$lapisLazuli: #0064a0;
$charcoal: #33515c;
$frenchGray: #c6cad4;
