// fonts
$princessSofia: 'Princess Sofia', 'cursive';
$sofia: 'Sofia', 'cursive';
$harry: 'Harry Potter';
$playfair: 'Playfair Display', serif;

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;
$blueNight: #001441;
$black: #000000;

//Hufflepuff
$xanthous: #ecb939;
$saffron: #f0c75e;
$umber: #726255;
$vanDyke: #372e29;
